<div class="swiper swiper-related-news" data-controller="swiper" data-between="16">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        {{include ('new_view/components/_new_card.html.twig')}}
        {{include ('new_view/components/_new_card.html.twig')}}
        {{include ('new_view/components/_new_card.html.twig')}}
        {{include ('new_view/components/_new_card.html.twig')}}
        {{include ('new_view/components/_new_card.html.twig')}}
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>