{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}
{% block body %}
    {{ include ('components/_header_default.html.twig') }}
    <div class="container py-5">
        {{ include ('home/components/_navtabs.html.twig') }}
    </div>
    {{ include ('home/components/_stories.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}