<ul class="news-content-list mt-4">
    <li>
        {{ include ('news/components/_card_news.html.twig') }}
    </li>
    <li>
        {{ include ('news/components/_card_news.html.twig') }}
    </li>
    <li>
        {{ include ('news/components/_card_news.html.twig') }}
    </li>
    <li>
        {{ include ('news/components/_card_news.html.twig') }}
    </li>
    <li>
        {{ include ('news/components/_card_news.html.twig') }}
    </li>
    <li>
        {{ include ('news/components/_card_news.html.twig') }}
    </li>
    <li>
        {{ include ('news/components/_card_news.html.twig') }}
    </li>
    <li>
        {{ include ('news/components/_card_news.html.twig') }}
    </li>
    <li>
        {{ include ('news/components/_card_news.html.twig') }}
    </li>
    <li>
        {{ include ('news/components/_card_news.html.twig') }}
    </li>
    <li>
        {{ include ('news/components/_card_news.html.twig') }}
    </li>
    <li>
        {{ include ('news/components/_card_news.html.twig') }}
    </li>
    <li>
        {{ include ('news/components/_card_news.html.twig') }}
    </li>
    <li>
        {{ include ('news/components/_card_news.html.twig') }}
    </li>
    <li>
        {{ include ('news/components/_card_news.html.twig') }}
    </li>
    <li>
        {{ include ('news/components/_card_news.html.twig') }}
    </li>
    <li>
        {{ include ('news/components/_card_news.html.twig') }}
    </li>
    <li>
        {{ include ('news/components/_card_news.html.twig') }}
    </li>
    <li>
        {{ include ('news/components/_card_news.html.twig') }}
    </li>
    <li>
        {{ include ('news/components/_card_news.html.twig') }}
    </li>
</ul>
{{ include ('components/_pagination_default.html.twig') }}