<nav class="menu-aside">
    <ul>
        <li class="link {{ route_name matches '{home}' ? 'active' }}">
            <a href="">
                {{ include ('components/_icon.html.twig', {'icon_name': 'fa-home'}) }}
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="">
                {{ include ('components/_icon.html.twig', {'icon_name': 'fa-gavel'}) }}
                <span>Licitações</span>
            </a>
        </li>
        <li>
            <a href="">
                {{ include ('components/_icon.html.twig', {'icon_name': 'fa-file'}) }}
                <span>Contratos</span>
            </a>
        </li>
        <li>
            <a href="">
                {{ include ('components/_icon.html.twig', {'icon_name': 'fa-file'}) }}
                <span>Convênios</span>
            </a>
        </li>
        <li>
            <a href="">
                {{ include ('components/_icon.html.twig', {'icon_name': 'fa-list'}) }}
                <span>Concursos</span>
            </a>
        </li>
        <li>
            <a href="">
                {{ include ('components/_icon.html.twig', {'icon_name': 'fa-file'}) }}
                <span>Gestão Fiscal</span>
            </a>
        </li>
        <li>
            <a href="">
                {{ include ('components/_icon.html.twig', {'icon_name': 'fa-balanced'}) }}
                <span>Legislação</span>
            </a>
        </li>
        <li>
            <a href="">
                {{ include ('components/_icon.html.twig', {'icon_name': 'fa-chart-pie'}) }}
                <span>Prestação de Contas</span>
            </a>
        </li>
        <li>
            <a href="">
                {{ include ('components/_icon.html.twig', {'icon_name': 'fa-coins'}) }}
                <span>Despesas</span>
            </a>
        </li>
        <li>
            <a href="">
                {{ include ('components/_icon.html.twig', {'icon_name': 'fa-file-dollar'}) }}
                <span>Receitas</span>
            </a>
        </li>
        <li>
            <a href="">
                {{ include ('components/_icon.html.twig', {'icon_name': 'fa-hand-dollar'}) }}
                <span>Folha de Pag.</span>
            </a>
        </li>
        <li>
            <a href="">
                {{ include ('components/_icon.html.twig', {'icon_name': 'fa-diary'}) }}
                <span>Diária</span>
            </a>
        </li>
        <li>
            <a href="">
                {{ include ('components/_icon.html.twig', {'icon_name': 'fa-building'}) }}
                <span>Estrutura Organizacional</span>
            </a>
        </li>
        <li>
            <a href="">
                {{ include ('components/_icon.html.twig', {'icon_name': 'fa-siq'}) }}
                <span>e-SIC</span>
            </a>
        </li>
    </ul>
</nav>