<div class="story-overflow">
    <div class="swiper swiper-3d story-view">
        <div class="swiper-wrapper">
            {{ include('components/stories_view/_gallery.html.twig') }}
            {{ include('components/stories_view/_gallery.html.twig') }}
            {{ include('components/stories_view/_gallery.html.twig') }}
            {{ include('components/stories_view/_gallery.html.twig') }}
            {{ include('components/stories_view/_gallery.html.twig') }}
        </div>
    </div>
</div>
