<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="tranparence-tab" data-bs-toggle="tab" data-bs-target="#transparence"
                type="button" role="tab" aria-controls="transparence" aria-selected="true">Transparência
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="services-tab" data-bs-toggle="tab" data-bs-target="#services" type="button"
                role="tab" aria-controls="services" aria-selected="false">Serviços
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="covid-tab" data-bs-toggle="tab" data-bs-target="#covid" type="button" role="tab"
                aria-controls="covid" aria-selected="false">Covid-19
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="collaborator-tab" data-bs-toggle="tab" data-bs-target="#collaborator" type="button"
                role="tab" aria-controls="collaborator" aria-selected="false">Colaboradores
        </button>
    </li>
</ul>
<div class="d-flex flex-wrap w-100 justify-content-between">
    <div class="d-flex flex-column">
        <div class="tab-content mt-4" id="myTabContent">
            {{ include ('home/components/tabs_body/_transparence.html.twig') }}
            {{ include ('home/components/tabs_body/_services.html.twig') }}
            {{ include ('home/components/tabs_body/_covid.html.twig') }}
            {{ include ('home/components/tabs_body/_collaborator.html.twig') }}
        </div>
        {{include ('home/components/tabs_body/components/_input_search.html.twig')}}
    </div>
    {{ include ('home/components/_tabs_main.html.twig') }}
</div>

