<div class="notice-wall">
    <div class="container">
        <h4 class="title">Mural de Avisos</h4>
        <p>Mural para divulgações de Editais e Comunicados de Catalão</p>
        <div class="d-flex" style="position: relative">
            <div class="swiper swiper-notices-wall">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    {{include ('home/components/_notice_wall_swiper_slide.html.twig')}}
                    {{include ('home/components/_notice_wall_swiper_slide.html.twig')}}
                    {{include ('home/components/_notice_wall_swiper_slide.html.twig')}}
                    {{include ('home/components/_notice_wall_swiper_slide.html.twig')}}
                    {{include ('home/components/_notice_wall_swiper_slide.html.twig')}}
                    {{include ('home/components/_notice_wall_swiper_slide.html.twig')}}
                    {{include ('home/components/_notice_wall_swiper_slide.html.twig')}}
                    {{include ('home/components/_notice_wall_swiper_slide.html.twig')}}
                    {{include ('home/components/_notice_wall_swiper_slide.html.twig')}}
                    {{include ('home/components/_notice_wall_swiper_slide.html.twig')}}
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</div>