<div class="stories">
    <div class="container">
        <h4 class="title">Stories</h4>
        <p>Acompanhe os principais destaques de nossa cidade.</p>
        <div class="d-flex" style="position: relative">
            <div class="swiper swiper-stories" data-controller="swiper" data-between="16">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    {{include ('home/components/_stories_swiper_slide.html.twig')}}
                    {{include ('home/components/_stories_swiper_slide.html.twig')}}
                    {{include ('home/components/_stories_swiper_slide.html.twig')}}
                    {{include ('home/components/_stories_swiper_slide.html.twig')}}
                    {{include ('home/components/_stories_swiper_slide.html.twig')}}
                    {{include ('home/components/_stories_swiper_slide.html.twig')}}
                    {{include ('home/components/_stories_swiper_slide.html.twig')}}
                    {{include ('home/components/_stories_swiper_slide.html.twig')}}
                    {{include ('home/components/_stories_swiper_slide.html.twig')}}
                    {{include ('home/components/_stories_swiper_slide.html.twig')}}
                    {{include ('home/components/_stories_swiper_slide.html.twig')}}
                    {{include ('home/components/_stories_swiper_slide.html.twig')}}
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</div>