<footer class="footer-default">
    <div class="container">
        <div class="row h-100">
            <div class="col-md-4 col-main">
                <div class="content">
                    <a class="brand" href="/">
                        <img src="{{ asset('images/logo-white.svg') }}" alt="Logo"/>
                    </a>
                    <strong>Baixe o nosso app</strong>
                    <div class="d-flex w-100 justify-content-between gap-4">
                        <a class="btn-app" href="/">
                            {{ include ('components/_icon.html.twig', {'icon_name': 'fa-google-play'}) }}
                            Baixar no Google Play
                        </a>
                        <a class="btn-app" href="/">
                            {{ include ('components/_icon.html.twig', {'icon_name': 'fa-apple-store'}) }}
                            Baixar no App Store
                        </a>
                    </div>
                    <strong class="mt-4">Redes sociais</strong>
                    <div class="d-flex w-100 gap-4">
                        <a href="/">
                            {{ include ('components/_icon.html.twig', {'icon_name': 'fa-instagram'}) }}
                        </a>
                        <a href="/">
                            {{ include ('components/_icon.html.twig', {'icon_name': 'fa-facebook'}) }}
                        </a>
                        <a href="/">
                            {{ include ('components/_icon.html.twig', {'icon_name': 'fa-youtube'}) }}
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 p-4 h-100">
                <div class="row h-100">
                    <div class="col-md-4 d-flex flex-column mb-4">
                        <span class="col-title">Serviços ao Cidadão</span>
                        <a href="/" class="item">Por Interessado</a>
                        <a href="/" class="item">Por Categoria</a>
                        <a href="/" class="item">Por Órgão</a>
                        <a href="/" class="item">Serviços de A a Z</a>
                    </div>
                    <div class="col-md-4 d-flex flex-column mb-4">
                        <span class="col-title">Estrutura do Governo</span>
                        <a href="/" class="item">Prefeito</a>
                        <a href="/" class="item">Secretarias</a>
                        <a href="/" class="item">Agências</a>
                        <a href="/" class="item">Outros Órgãos</a>
                    </div>
                    <div class="col-md-4 d-flex flex-column mb-4">
                        <span class="col-title">Fale Conosco</span>
                        <a href="/" class="item">comunicacao@catalao.go.gov.br</a>
                        <a href="/" class="item">comunicacao@catalao.go.gov.br</a>
                        <a href="/" class="item">(64) 3441-5000</a>
                    </div>
                    <div class="col-md-4 d-flex flex-column mb-4">
                        <span class="col-title">Portal da Transparência</span>
                        <a href="/" class="item">Responsabilidade Fiscal</a>
                        <a href="/" class="item">Despesas e Receitas</a>
                        <a href="/" class="item">Acesso à Informação</a>
                        <a href="/" class="item">Recursos Humanos</a>
                    </div>
                    <div class="col-md-4 d-flex flex-column mb-4">
                        <span class="col-title">Ouvidoria Municipal</span>
                        <a href="/" class="item">Ouvidoria Geral</a>
                        <a href="/" class="item">SIC – Serviço de Informação</a>
                        <a href="/" class="item">Política de Privacidade</a>
                        <a href="/" class="item">Fale Conosco</a>
                    </div>
                    <div class="col-md-4 d-flex flex-column mb-4">
                        <span class="col-title">Localização</span>
                        <a href="/" class="item">R. Nassim Agel, 505 - Centro</a>
                        <a href="/" class="item">Catalão - Goiás, 75701-050</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="rodape">
    <div class="container h-100 d-flex align-items-center justify-content-between">
        <p>Copyright © 2017 Prefeitura Municipal de Catalão. Todos os Direitos Reservados.</p>
        <a href="/">Portal Catalão</a>
    </div>
</div>