<header class="header-default">
    <div class="nav-top d-flex align-items-center">
        <div class="container d-flex justify-content-between align-items-center">
            <ul class="nav-links d-flex">
                <li class="active">
                    <a href="/">Início</a>
                </li>
                <li class="dropdown d-flex align-items-center">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Cidade
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Hino</a></li>
                        <li><a class="dropdown-item" href="#">História</a></li>
                        <li><a class="dropdown-item" href="#">Símbolos Municipais</a></li>
                        <li><a class="dropdown-item" href="#">Dados IBGE</a></li>
                        <li><a class="dropdown-item" href="#">Galerias</a></li>
                    </ul>
                </li>
                <li class="dropdown d-flex align-items-center">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Governo e Secretarias
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Hino</a></li>
                        <li><a class="dropdown-item" href="#">História</a></li>
                        <li><a class="dropdown-item" href="#">Símbolos Municipais</a></li>
                        <li><a class="dropdown-item" href="#">Dados IBGE</a></li>
                        <li><a class="dropdown-item" href="#">Galerias</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/">Institucional</a>
                </li>
                <li>
                    <a href="/transparencia">Transparência</a>
                </li>
                <li>
                    <a href="/">Serviços</a>
                </li>
                <li>
                    <a href="/">Notícias</a>
                </li>
                <li>
                    <a href="/">Ouvidoria</a>
                </li>
            </ul>
            {% include 'dashboard/components/_btn_accessibility.html.twig' %}
        </div>
    </div>
    <nav class="navbar">
        <div class="container">
            <div class="brand-section">
                <a href="/">
                    <img src="{{ asset('images/logo.svg') }}" alt="Logo"/>
                </a>
                <div class="d-flex align-items-center">
                    <button class="btn-search">
                        {{ include ('components/_icon.html.twig', {'icon_name': 'fa-search'}) }}
                    </button>
                    {% include 'dashboard/components/_input_search_mobile.html.twig' %}
                    <button id="btn-menu" class="d-flex d-lg-none">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
            {{ include ('dashboard/components/_input_search.html.twig') }}
            <div class="group-icons d-none d-lg-flex align-items-center gap-3">
                <a href="/">
                    {{ include ('components/_icon.html.twig', {'icon_name': 'fa-instagram'}) }}
                </a>
                <a href="/">
                    {{ include ('components/_icon.html.twig', {'icon_name': 'fa-facebook'}) }}
                </a>
                <a href="/">
                    {{ include ('components/_icon.html.twig', {'icon_name': 'fa-youtube'}) }}
                </a>
            </div>
        </div>
    </nav>
</header>