<header class="header-default">
    <div class="nav-top d-flex align-items-center">
        <div class="container d-flex justify-content-between align-items-center">
            <ul class="nav-links d-flex">
                <li class="active">
                    <a href="/">Início</a>
                </li>
                <li class="dropdown d-flex align-items-center">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Cidade
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="pg/sobre-a-cidade">Sobre a cidade</a></li>
                        <li><a class="dropdown-item" href="p/dados-ibge">Dados IBGE</a></li>
                    </ul>
                </li>

                <li class="dropdown d-flex align-items-center">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Serviços
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="p/certidoes-negativas">Certidões Negativas</a></li>
                        <li><a class="dropdown-item" href="http://catalao1.tempsite.ws/contribuinte/">Cadastro de Contribuinte</a></li>
                        <li><a class="dropdown-item" href="p/avisos">Comunicados e Termos</a></li>
                        <li><a class="dropdown-item" target='_blank' href="http://sig.catalao.go.gov.br/sig/app.html#/servicosonline/nfe-denuncia-fiscal">Denuncia Fiscal</a></li>
                        <li><a class="dropdown-item" target='_blank' href="http://sig.catalao.go.gov.br/sig/app.html#/servicosonline/debito-contribuinteu">Débito do contribuinte</a></li>
                        <li><a class="dropdown-item" target='_blank' href="http://sig.catalao.go.gov.br/sig/app.html#/servicosonline/debito-imovel">Débito do imóvel</a></li>
                        <li><a class="dropdown-item" target='_blank' href="http://sig.catalao.go.gov.br/sig/app.html#/servicosonline/debito-contribuinte">IPTU</a></li>
                        <li><a class="dropdown-item" target='_blank' href="http://nfe.catalao.go.gov.br/sig/index-nfe.html">Nota Fiscal Eletrônica</a></li>
                        <li><a class="dropdown-item" href="transparencia/ouvidoria">Ouvidoria</a></li>
                        <li><a class="dropdown-item" target='_blank' href="http://sig.catalao.go.gov.br/sig/app.html#/servicosonline/portal-servidor">Portal do Servidor</a></li>
                        <li><a class="dropdown-item" target='_blank' href="http://sig.catalao.go.gov.br/sig/app.html#/servicosonline/index">Serviços Online</a></li>




                    </ul>
                </li>

                <li class="dropdown d-flex align-items-center">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Governo e Secretarias
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="acao-social">Ação Social</>
                        <li><a class="dropdown-item" href="decretaria-de-administracao">Administração</a></li>
                        <li><a class="dropdown-item" href="secretaria-de-agricultura">Agricultura</a></li>
                        <li><a class="dropdown-item" href="aterro-sanitario">Aterro Sanitário</a></li>
                        <li><a class="dropdown-item" href="secretaria-de-ciencia-e-Tecnologia">Ciência e Tecnologia</a></li>
                        <li><a class="dropdown-item" href="secretaria-de-comunicacao">Comunicação</a>
                        <li><a class="dropdown-item" href="secretaria-de-educacao">Educação</a>
                        <li><a class="dropdown-item" href="secretaria-de-esporte-e-lazer">Esporte e Lazer</a>
                        <li><a class="dropdown-item" href="secretaria-de-financas">Finanças</a>
                        <li><a class="dropdown-item" href="fundação-cultural-maria-das-dores-campos">Fundação Maria das Dores Campos</a>
                        <li><a class="dropdown-item" href="ipasc">Ipasc</a>
                        <li><a class="dropdown-item" href="secretaria-de-industria-comercio-e-turismo">Industria, Comércio e Turismo</a>
                        <li><a class="dropdown-item" href="secretaria-de-governo">Governo</a>
                        <li><a class="dropdown-item" href="secretaria-de-">Habitação</a>
                        <li><a class="dropdown-item" href="procuradoria-do-municipio">Procuradoria do Município</a>
                        <li><a class="dropdown-item" href="procon">Procon</a>
                        <li><a class="dropdown-item" href="superintendencia-de-agua-e-esgoto">Sae</a>
                        <li><a class="dropdown-item" href="superintendencia-de-transito">SMTC</a>
                        <li><a class="dropdown-item" href="secretaria-de-saude">Saúde</a>

                    </ul>
                </li>
                <li>
                    <a href="/transparencia/processo-seletivo">Processo Seletivo</a>
                </li>
                <li>
                    <a href="/transparencia">Transparência</a>
                </li>
                <li>
                    <a href="p/covid-19">COVID-19</a>
                </li>
                <li>
                    <a href="/">Ouvidoria</a>
                </li>
            </ul>
            {% include 'dashboard/components/_btn_accessibility.html.twig' %}
        </div>
    </div>
    <nav class="navbar">
        <div class="container">
            <div class="brand-section">
                <a href="/">
                    <img src="{{ asset('images/logo.svg') }}" alt="Logo"/>
                </a>
                <div class="d-flex align-items-center">
                    <button class="btn-search">
                        {{ include ('components/_icon.html.twig', {'icon_name': 'fa-search'}) }}
                    </button>
                    {% include 'dashboard/components/_input_search_mobile.html.twig' %}
                    <button id="btn-menu" class="d-flex d-lg-none">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
            {{ include ('dashboard/components/_input_search.html.twig') }}
            <div class="group-icons d-none d-lg-flex align-items-center gap-3">
                <a href="/">
                    {{ include ('components/_icon.html.twig', {'icon_name': 'fa-instagram'}) }}
                </a>
                <a href="/">
                    {{ include ('components/_icon.html.twig', {'icon_name': 'fa-facebook'}) }}
                </a>
                <a href="/">
                    {{ include ('components/_icon.html.twig', {'icon_name': 'fa-youtube'}) }}
                </a>
            </div>
        </div>
    </nav>
</header>