<table class="table table-striped">
    <thead class="table-dark">
    <tr>
        <th scope="col"></th>
        <th scope="col">Modalidade / Número</th>
        <th scope="col" id="price-item">Valor Estimado</th>
        <th scope="col">Publicação</th>
        <th scope="col" id="description-table">Descrição</th>
    </tr>
    </thead>
    <tbody>
    {{ include ('components/_table_item.html.twig') }}
    {{ include ('components/_table_item.html.twig') }}
    {{ include ('components/_table_item.html.twig') }}
    {{ include ('components/_table_item.html.twig') }}
    {{ include ('components/_table_item.html.twig') }}
    {{ include ('components/_table_item.html.twig') }}
    {{ include ('components/_table_item.html.twig') }}
    {{ include ('components/_table_item.html.twig') }}
    {{ include ('components/_table_item.html.twig') }}
    {{ include ('components/_table_item.html.twig') }}
    {{ include ('components/_table_item.html.twig') }}
    {{ include ('components/_table_item.html.twig') }}
    {{ include ('components/_table_item.html.twig') }}
    {{ include ('components/_table_item.html.twig') }}
    {{ include ('components/_table_item.html.twig') }}
    </tbody>
</table>
{{ include ('components/_pagination_default.html.twig') }}