<div class="tab-pane fade show" id="covid" role="tabpanel" aria-labelledby="covid-tab">
    <div class="d-flex flex-wrap gap-4">
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'BOLETIM INFORMATIVO', 'link': '/covid19', '': 'fa-file'})}}
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'LICITAÇÕES', 'link': '/transparencia/licitacoes/covid', '': 'fa-file'})}}
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'DISPENSAS', 'link': '/transparencia/dispensas/covid', '': 'fa-file'})}}
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'DESPESAS', 'link': 'http://transparencia.catalao.go.gov.br/sig/app.html#/transparencia/transparencia-despesa-simplificado-corona/', 'target': 'true', 'target': 'true', '': 'fa-file-dollar'})}}
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'RECEITAS', 'link': 'http://transparencia.catalao.go.gov.br/sig/app.html#/transparencia/transparencia/','target': 'true', 'target': 'true', '': 'fa-coins'})}}
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'CONTRATOS', 'link': 'http://transparencia.catalao.go.gov.br/sig/app.html#/transparencia/transparencia-contratos-covid/', 'target': 'true', 'target': 'true','': 'fa-hand-dollar'})}}
    </div>
</div>