<div class="tab-pane fade show active" id="transparence" role="tabpanel" aria-labelledby="transparence-tab">
    <div class="d-flex flex-wrap gap-4">
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'LICITAÇÕES', 'link': '/transparencia'})}}
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'CONTRATOS', 'link': '/transparencia'})}}
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'CONVÊNIOS', 'link': '/transparencia'})}}
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'RECEITAS', 'link': '/transparencia'})}}
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'DESPESAS', 'link': '/transparencia'})}}
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'FOLHA', 'link': '/transparencia'})}}
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'DIÁRIAS', 'link': '/transparencia'})}}
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'LEIS E DECRETOS', 'link': '/transparencia'})}}
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'PROCESSOS SELETIVOS', 'link': '/transparencia'})}}
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'GESTÃO FISCAL', 'link': '/transparencia'})}}
    </div>
</div>