<div class="tab-pane fade show active" id="transparence" role="tabpanel" aria-labelledby="transparence-tab">
    <div class="d-flex flex-wrap gap-4">
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'LICITAÇÕES', 'link': '/transparencia/licitacoes'})}}
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'CONTRATOS', 'link': '/transparencia/contratos'})}}
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'CONVÊNIOS', 'link': '/transparencia/convenios'})}}
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'RECEITAS', 'link': '/transparencia/receitas'})}}
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'DESPESAS', 'link': '/transparencia/despesas'})}}
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'FOLHA', 'link': '/transparencia/folha'})}}
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'DIÁRIAS', 'link': '/transparencia/diarias'})}}
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'LEIS MUNICIPAIS', 'link': '/transparencia/leis'})}}
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'PROCESSOS SELETIVOS', 'link': '/transparencia/processo-seletivo'})}}
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'GESTÃO FISCAL', 'link': '/transparencia/gestao-fiscal'})}}
    </div>
</div>