<div class="tab-pane fade show active" id="transparence" role="tabpanel" aria-labelledby="transparence-tab">
    <div class="d-flex flex-wrap gap-4">
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'LICITAÇÕES', 'link': '/transparencia', 'icon_name': 'fa-gavel'})}}
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'CONTRATOS', 'link': '/transparencia', 'icon_name': 'fa-file'})}}
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'CONVÊNIOS', 'link': '/transparencia', 'icon_name': 'fa-file'})}}
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'RECEITAS', 'link': '/transparencia', 'icon_name': 'fa-file-dollar'})}}
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'DESPESAS', 'link': '/transparencia', 'icon_name': 'fa-coins'})}}
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'FOLHA', 'link': '/transparencia', 'icon_name': 'fa-hand-dollar'})}}
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'DIÁRIAS', 'link': '/transparencia', 'icon_name': 'fa-diary'})}}
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'LEIS E DECRETOS', 'link': '/transparencia', 'icon_name': 'fa-balanced'})}}
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'PROCESSOS SELETIVOS', 'link': '/transparencia', 'icon_name': 'fa-list'})}}
        {{include ('home/components/tabs_body/components/_card_link.html.twig', {'name': 'GESTÃO FISCAL', 'link': '/transparencia', 'icon_name': 'fa-file'})}}
    </div>
</div>